@import "libs"
@import "base"


.header
	position: fixed
	top: 0
	right: 0
	left: 0
	transition: all .3s
	z-index: 1001

	&--active, &--menu

	&__bunner
		display: flex
		align-items: center
		justify-content: center
		text-transform: uppercase
		width: 100%
		height: 40px
		line-height: 1
		width: 55%
		border: 1px solid $red
		font-weight: 800
		transition: all .6s
		letter-spacing: .2px
		border-radius: 5px
		text-align: center
		color: $red
		padding: 0 15px
		margin: 0 10px

		img
			margin: 0 10px

	&__container
		position: relative
		background: $block
		padding: 10px 0

	&__btn
		background: #fff
		padding-top: 10px
		padding-bottom: 15px

		.btn
			width: auto
			padding: 0 45px

	.container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&__logo
		font-size: 18px
		
		img
			width: 40px
			margin-right: 10px

	&__language
		position: relative
		right: 0
		text-transform: uppercase
		color: #fff

	&__account
		position: relative
		display: flex
		align-items: center
		text-transform: uppercase
		padding: 5px 0
		font-size: 16px

		&::after
			content: ''
			width: 8px
			height: 8px
			border-left: 2px solid #fff
			border-top: 2px solid #fff
			transform: translate(0, -1px) rotate(-135deg)
			margin-left: 4px


		&:hover,
		&:focus
			p
				display: block

			ul
				display: block

		span
			display: block
			padding: 0 5px

		ul
			position: absolute
			top: 100%
			right: 0
			background: #fff
			padding: 5px 0
			display: none
			font-size: 14px

		a
			display: flex
			justify-content: space-between
			align-items: center
			color: #000
			font-size: 14px
			margin-bottom: 5px
			padding: 3px 5px
			text-transform: none

			&:hover,
			&:focus
				background-color: #d1d1d1

		img
			margin-right: 10px

		span
			color: #fff

		p
			position: absolute
			right: 0
			top: 150%
			width: 250px
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.18)
			border-radius: 5px
			background-color: #ffffff
			padding: 20px
			color: $text
			text-transform: none
			font-weight: 400
			text-align: left
			display: none

			&::before
				content: ''
				position: absolute
				top: -20px
				right: 15px
				border-bottom: 10px solid #fff
				border-left: 10px solid transparent
				border-right: 10px solid transparent
				border-top: 10px solid transparent

	&__col
		position: relative
		text-align: center

		&:hover,
		&:focus
			p
				display: block

		span
			position: absolute
			top: 0
			right: 5px
			display: block
			width: 12px
			height: 12px
			background: $red
			border-radius: 50%
			font-size: 8px
			line-height: 12px

		p
			position: absolute
			right: 0
			top: 150%
			width: 256px
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.18)
			border-radius: 5px
			background-color: #ffffff
			padding: 20px
			color: $text
			text-transform: none
			font-weight: 400
			text-align: left
			display: none

			&::before
				content: ''
				position: absolute
				top: -20px
				right: 15px
				border-bottom: 10px solid #fff
				border-left: 10px solid transparent
				border-right: 10px solid transparent
				border-top: 10px solid transparent
	
	.green
		color: $green


.logo
	display: flex
	align-items: center
	text-transform: uppercase
	font-size: 18px
	font-weight: 800

	p
		color: #fff

	span
		color: #b8a65f


.nav
	margin: 0 15px

	&__btn
		display: none

	ul
		display: flex
		justify-content: space-between

	li
		margin-right: 8px
		color: #fff
		font-size: 14px
		line-height: 1

		&:last-child
			margin-right: 0

	a
		position: relative
		z-index: 1
		text-transform: uppercase
		color: #fff

		&::before
			content: ''
			width: 0
			transform: scale(0)
			transition: all .3s
			position: absolute
			bottom: -20px
			width: 100%
			height: 5px
			background-color: $green
			z-index: -1

		&:hover,
		&:focus
			color: #fff
			text-decoration: none
			&::before
				transform: scale(1)


.fixed
	position: fixed
	top: 30%
	z-index: 999

	a
		display: block
		width: 65px
		height: 65px
		margin-bottom: 20px

		&:hover,
		&:focus

			img
				animation: hover .3s linear 1 forwards

	img
		width: 65px
		height: 65px
		animation: hover-back .3s linear 1 forwards


.main
	margin-top: 120px
	overflow: hidden


.hero
	padding-top: 75px
	padding-bottom: 160px
	background-image: url(../img/hero-bg.jpg)
	background-position: center
	background-size: cover
	background-repeat: no-repeat

	&__block
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		position: relative
		margin-bottom: 25px

		&:last-child
			margin-bottom: 0

	&__item
		width: 42%
		border-radius: 5px
		border: 1px solid #ffffff
		text-align: center
		padding: 55px 50px 35px
		transition: all .6s

		p
			color: #fff
			font-size: 16px
			text-transform: uppercase
			margin-bottom: 10px

		&:hover
			width: 50%
			box-shadow: 0 0 38px rgba(120, 213, 0, 0.51)
			border: none

		img
			display: block
			margin: 0 auto 15px
			height: 90px
			width: auto
			transition: all .6s


.price
	position: relative
	padding: 50px 0
	z-index: 2
	overflow: visible

	h2
		text-align: left
		margin-bottom: 15px

	.white
		color: #fff
		margin-bottom: 0 !important

		b
			font-size: 48px
			font-family: $title

	&__img
		position: absolute
		top: 50%
		transform: translate(0, -53%)
		z-index: -1
		height: 155%
		width: 100%
		min-width: 1920px

	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&__item
		max-width: 195px
		text-align: center

		img
			display: block
			margin: 0 auto 25px
			height: 230px


.orders
	position: relative
	padding-top: 35px
	padding-bottom: 85px
	color: #fff
	overflow: visible
	z-index: 1

	&__bg
		position: absolute
		top: 50%
		transform: translate(0, -53%)
		z-index: -1
		width: 100%
		min-width: 1920px

	h2
		color: #78d500
		font-weight: 400
		font-size: 60px
		margin-bottom: 0

		b
			font-family: $title

	&__title
		position: relative
		margin-bottom: 55px

		a
			position: absolute
			top: 50%
			right: 0
			transform: translate(0, -50%)
			color: #fff
			font-size: 30px
			text-decoration: underline

	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&__item
		width: 31%
		background-color: #fff
		border-radius: 5px
		font-size: 18px
		color: #000
		padding: 30px

		p
			margin-bottom: 10px
			line-height: 1.2

		h3
			margin-bottom: 5px

			a
				text-decoration: underline

		a
			color: #622494
			font-weight: 400
			font-size: 24px

			&:hover,
			&:focus
				text-decoration: underline

	&__more
		position: relative

		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			width: 6px
			height: 6px
			transform: translate(0, -10%) rotate(45deg)
			border-right: 2px solid $block
			border-top: 2px solid $block

		&::after
			right: -10px

		&::before
			right: -16px


.why
	padding-top: 65px
	padding-bottom: 75px

	h2
		margin-bottom: 45px


	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center

	&__item
		width: 17%
		text-align: center
		text-transform: uppercase
		padding-top: 25px
		padding-bottom: 25px
		line-height: 1
		transition: all .6s

		&:hover
			box-shadow: 0 0 38px rgba(72, 65, 117, 0.5)
			border-radius: 5px

		img
			display: block
			margin: 0 auto 20px

	&__previews
		width: 30%
		transition: all .6s

		&:hover,
		&:focus
			box-shadow: 0 0 38px rgba(72, 65, 117, 0.5)

		img
			width: 100%


.reviews
	padding-top: 75px
	padding-bottom: 60px
	background-image: url(../img/reviews-bg.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: #fff

	h2
		span
			color: $green

	&__item
		display: flex !important
		flex-direction: column
		justify-content: space-between
		background: #fff
		border-radius: 5px
		padding: 15px 20px 20px
		color: $text
		text-align: center
		font-size: 16px
		height: 270px

		time
			margin-bottom: 30px

		&_rating
			display: flex
			justify-content: center
			margin-bottom: 30px

			img
				margin-right: 5px
				height: 14px

		&_text
			position: relative
			margin-bottom: 30px

			&::before
				content: ''
				position: absolute
				top: -5px
				left: 0
				right: 0
				margin: 0 auto
				width: 70px
				height: 1px
				background: $text

		&_account
			display: flex
			justify-content: flex-end
			align-items: center

			img
				display: block
				width: 20px
				height: 20px
				margin-right: 15px

	.reviews__slider
		margin-bottom: 65px

	.slick-dots
		bottom: -65px

	.slick-dots
		li
			button
				width: 7px
				height: 7px
				background-color: #ffffff
				opacity: 0.49
				border-radius: 50%
				transition: all .6s
				margin: 0 auto
				transition: all .6s
				&::before
					display: none

		.slick-active
			button
				width: 14px
				height: 14px
				background-color: #ffffff
				border-radius: 50%
				opacity: 1


.partners
	padding: 15px 0
	box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.32)

	&__list
		display: flex
		justify-content: space-around
		flex-wrap: wrap
		align-items: center

	&__item
		max-width: 160px
		min-width: 160px

	img
		max-height: 45px


.footer
	background-color: #484175
	padding: 45px 0

	&__logo
		flex-direction: column
		justify-content: center
		font-size: 18px

		img
			margin: 0 auto 5px
			width: 64px

	&__soc
		a
			&:hover
				img
					animation: hover .4s linear 1 forwards

			&::before
				display: none

		img
			animation: hover-back .4s linear 1 forwards

	&__list
		display: flex
		flex-wrap: wrap
		font-size: 14px
		text-transform: uppercase

		li
			width: 32%
			margin-right: 1.333%
			margin-bottom: 15px

		a
			position: relative
			z-index: 1
			text-transform: uppercase
			color: #fff
			font-size: 14px

			&::before
				content: ''
				width: 0
				transform: scale(0)
				transition: all .3s
				position: absolute
				bottom: -5px
				width: 100%
				height: 5px
				background-color: $green
				z-index: -1

			&:hover,
			&:focus
				color: #fff
				text-decoration: none
				&::before
					transform: scale(1)
		
		img
			width: 25px
			height: 25px
			margin-right: 13px
	
	&__up
		position: absolute
		right: 15px
		top: -45px

		a
			display: block
			width: 22px
			height: 22px
			background: $green

			&::before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -10%) rotate(45deg)
				width: 10px
				height: 10px
				border-top: 2px solid $text
				border-left: 2px solid $text
				transition: all .6s

			&:hover
				&::before
					transform: translate(-50%, -50%) rotate(45deg)

	.container
		position: relative


.terms
	padding-top: 85px
	padding-bottom: 75px
	font-size: 16px

	h2
		text-align: left
		margin-bottom: 45px


.page--form
	padding: 110px 0
	background-image: url(../img/section-form-bg.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat

	h3
		text-transform: uppercase
		color: #fff
		font-size: 24px
		text-align: right
		margin-bottom: 30px

		span
			font-weight: 400

	p
		margin-bottom: 25px
		color: #fff
		text-align: center
		line-height: 1

	&__form
		box-shadow: 0 0 38px rgba(120, 213, 0, 0.51)
		border-radius: 5px
		background-color: rgba(#19113e, 0.2)
		padding: 30px

		&_line
			position: relative
			margin-bottom: 20px

			&::before
				content: ''
				position: absolute
				top: 0
				left: 15px
				width: 8px
				height: 12px
				background: $red

			&::after
				content: ''
				position: absolute
				top: 5px
				left: 15px
				border-bottom: 4px solid $text
				border-left: 4px solid transparent
				border-right: 4px solid transparent
				border-top: 4px solid transparent

			&--last
				margin-bottom: 50px

		&_btn
			display: flex
			justify-content: space-between
			margin-bottom: 30px

		&_link
			display: flex
			justify-content: space-between
			align-items: center
			line-height: 1

			a
				color: #fff
				&:hover,
				&:focus
					color: #fff
					text-decoration: underline

		label
			position: relative
			padding-left: 25px
			color: #fff
			cursor: pointer
			margin-bottom: 0

			&::before,
			&::after
				content: ''
				position: absolute
				left: 0

			&::before
				width: 15px
				height: 15px
				border-radius: 3px
				border: 1px solid #ffffff

			&::after
				width: 9px
				height: 9px
				border-radius: 3px
				border: 1px solid #ffffff
				background: #fff
				left: 3px
				top: 3px
				transition: all .6s

		input[type="checkbox"]
			display: none

		input[type="checkbox"]:checked + label::after
			transform: scale(1)

		input[type="checkbox"] + label::after
			transform: scale(0)


.faq
	padding-top: 85px
	padding-bottom: 100px

	h2
		text-align: left

	.block
		box-shadow: 5px 6px 18px rgba(129, 143, 180, 0.53)
		border-radius: 5px
		margin-bottom: 30px

		&__header
			position: relative
			text-transform: uppercase
			font-weight: 700
			padding: 20px 300px 20px 65px


		span
			position: absolute
			display: block
			right: 20px
			top: 20px
			width: 38px
			height: 38px
			box-shadow: 5px 6px 18px rgba(129, 143, 180, 0.53)
			border-radius: 5px
			background: $green
			transition: all .6s
			cursor: pointer

			&::before,
			&::after
				content: ''
				background: #fff
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)
				width: 15px
				height: 4px
				transition: all .6s

			&::after
				transform: translate(-50%, -50%) rotate(-90deg)


		&__content
			padding: 20px 100px 20px 320px
			text-align: right

	
	.active
		span
			box-shadow: 5px 6px 18px rgba(129, 143, 180, 0.53)
			background-color: #484175

			&::after
				transform: translate(-50%, -50%) rotate(0deg)


.thanks
	padding-top: 95px
	padding-bottom: 150px
	text-align: center

	&__logo
		margin-bottom: 25px

	h3
		margin-bottom: 30px
		font-weight: 800
		font-size: 18px

	p
		text-align: left
		font-size: 18px
		margin-bottom: 20px

		br
			display: none

		a
			color: $text

			&:hover,
			&:focus
				color: $text
				text-decoration: underline

		span
			font-size: 24px
			color: $red
			font-weight: 800

	&__soc
		display: flex
		justify-content: center
		align-items: center
		margin-top: 50px

		span
			font-size: 24px
			font-weight: 800
			text-transform: uppercase
			margin-right: 34px

		a
			display: flex
			justify-content: space-between
			align-items: center
			font-size: 14px
			text-transform: uppercase
			width: 145px
			height: 40px
			border-radius: 5px
			padding: 5px 10px
			color: #fff
			margin-right: 20px
			transition: all .6s

			&:last-child
				margin-right: 0

			&:hover
				box-shadow: 0 0 15px 0 rgba(0,0,0, .5)


		img
			width: 25px
			height: 25px

		&_what
			background-color: #1bd741

		&_in
			background-image: linear-gradient(to right, #fac063 0%, #dc3871 68%, #6b68ce 100%)

		&_chat
			background-color: #f3783d


.contacts
	padding: 60px 0

	h2
		text-align: left

	&__soc
		margin-bottom: 55px

		a
			margin-right: 25px

			&:hover
				img
					animation: hover .3s linear 1 forwards

		img
			animation: hover-back .3s linear 1 forwards

	input, textarea
		height: 40px
		border-radius: 5px
		border: 1px solid #b7b7b7
		background-color: #ffffff
		color: $text

		&::placeholder
			color: #898989
	
	textarea
		height: 210px
		line-height: 1.4
		padding-top: 10px
		padding-bottom: 10px

		&::placeholder
			line-height: 1.4

	&__form
		div
			margin-bottom: 20px

		&_textarea
			margin-bottom: 50px

		&_btn
			display: flex
			justify-content: flex-end

			.btn
				width: 220px
				font-size: 16px
				font-weight: 800


.reviews--page

	h2
		text-align: left

	h3
		margin-bottom: 30px
		text-transform: uppercase

	&__form
		padding-top: 70px
		padding-bottom: 40px
		background: #ebebeb

		input, textarea
			background: #fff

			&::placeholder
				color: #898989


		textarea
			height: 100px

		&_input
			margin-bottom: 20px

		&_rating
			display: flex
			align-items: center
			margin-bottom: 30px
			font-size: 16px
			color: #898989
			line-height: 1

			div
				margin-right: 30px

		&_textarea
			margin-bottom: 30px

	&__content
		padding: 60px 0

		&_list
			display: flex
			flex-wrap: wrap
			justify-content: space-around

		&_item
			border: 1px solid #484175
			width: 24%
			margin-bottom: 40px
			overflow: auto
			

	&__btn
		display: flex
		justify-content: flex-end

	.btn
		font-size: 16px
		width: 220px
	

.edit-profile
	padding: 65px 0

	h2
		display: flex
		align-items: center

		span
			font-size: 18px
			font-weight: 800
			margin: 0 15px

		a
			font-size: 16px
			color: $text

			&:hover,
			&:focus
				color: $text
				text-decoration: underline

	h3
		font-size: 16px
		text-transform: uppercase
		margin-bottom: 40px
	
	input, textarea
		height: 40px
		border-radius: 5px
		border: 1px solid #b7b7b7
		background-color: #ffffff
		color: $text

		&::placeholder
			color: #898989

	&__avatar
		position: relative
		width: 170px
		height: 170px

		img
			width: 170px
			height: 170px

		a
			position: absolute
			right: -3px
			top: -3px
			display: block
			width: 22px
			height: 22px
			border-radius: 5px
			background-color: #484175
			animation: hover-back .3s linear 1 forwards

			&:hover,
			&:focus
				animation: hover .3s linear 1 forwards

			img
				width: 60%
				height: 60%
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)


	&__form
		margin-bottom: 35px

		&_input
			margin-bottom: 25px


	&__btn
		display: flex
		justify-content: flex-end

	.btn
		font-size: 16px
		width: 220px


.checkout
	padding: 65px 0

	h2
		text-align: left

	h3
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 35px


	input, textarea
		height: 40px
		border-radius: 5px
		border: 1px solid #b7b7b7
		background-color: #ffffff
		color: $text

		&::placeholder
			color: #898989

	&__form
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 30px
			
		&_checked
			justify-content: flex-start
			margin-bottom: 40px

			a
				color: $text
				&:hover,
				&:focus
					color: $text
					text-decoration: underline

			label
				position: relative
				padding-left: 25px
				padding-right: 5px
				cursor: pointer
				color: #898989
				margin-bottom: 0

				&::before,
				&::after
					content: ''
					position: absolute
					left: 0

				&::before
					width: 16px
					height: 16px
					border-radius: 3px
					border: 1px solid $text
					top: 50%
					transform: translate(0, -50%)

				&::after
					width: 11px
					height: 11px
					border-radius: 3px
					border: 1px solid $text
					background: $text
					left: 2px
					transition: all .6s
					top: 50%
					transform: translate(0, -50%)

			input[type="checkbox"]
				display: none

			input[type="checkbox"]:checked + label::after
				display: block

			input[type="checkbox"] + label::after
				display: none

		&_radio
			display: flex
			justify-content: flex-start
			align-items: center
			text-align: center
			margin: 0 auto 10px

			&--end
				margin-bottom: 30px

			img
				height: 35px

			label
				position: relative
				padding-left: 25px
				padding-right: 5px
				cursor: pointer
				color: #898989
				margin-bottom: 0

				&::before,
				&::after
					content: ''
					position: absolute
					left: 0

				&::before
					width: 16px
					height: 16px
					border-radius: 3px
					border: 1px solid $text
					top: 50%
					transform: translate(0, -50%)

				&::after
					width: 11px
					height: 11px
					border-radius: 3px
					border: 1px solid $text
					background: $text
					left: 2px
					transition: all .6s
					top: 50%
					transform: translate(0, -50%)

			input[type="radio"]
				display: none

			input[type="radio"]:checked + label::after
				display: block

			input[type="radio"] + label::after
				display: none

		&_input
			position: relative
			width: 100%
			margin-bottom: 25px

			&::before
				content: ''
				position: absolute
				top: 0
				left: 15px
				width: 8px
				height: 12px
				background: $red

			&::after
				content: ''
				position: absolute
				top: 5px
				left: 15px
				border-bottom: 4px solid #fff
				border-left: 4px solid transparent
				border-right: 4px solid transparent
				border-top: 4px solid transparent

			&--half
				width: 47%
	
	&__btn
		display: flex
		justify-content: flex-end

		.btn
			width: 270px

	&__table
		width: 100%
		border-spacing: 7px 11px
		margin-bottom: 30px

		tr
			border-bottom: 25px solid #FFF

			&:first-child
				background-color: #484175
				color: #fff
				text-transform: uppercase

		td, th
			padding: 15px

		th
			text-transform: uppercase

		td
			background-color: #ebebeb
			font-weight: 800
			font-size: 16px

			&:first-child
				font-weight: 400


.card
	padding: 80px 0

	h2
		text-align: left

	.btn
		width: 270px

	.number
		display: none

	.button
		width: 21px
		height: 21px
		box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2)
		border-radius: 5px
		background-color: #ffffff
		border: none
		color: #b1b1b1
		line-height: 21px
		margin: 0 5px

		&:hover,
		&:focus
			outline: none

	input
		width: 100%
		max-width: 50px
		color: $text
		border: none
		font-weight: 800
		padding: 0

	&__table
		width: 100%
		border-spacing: 7px 11px
		margin-bottom: 30px

		tr
			border-bottom: 25px solid #FFF

			&:first-child
				background-color: #484175
				color: #fff
				text-transform: uppercase

		td, th
			padding: 15px
			margin-bottom: 25px

		th
			text-transform: uppercase

		td
			background-color: #ebebeb
			font-weight: 800
			font-size: 16px

			&:first-child
				font-weight: 400


.profile
	padding: 65px 0

	h2
		display: flex
		align-items: center

	h3
		font-size: 18px
		text-transform: uppercase
		margin-bottom: 10px

	p
		margin-bottom: 10px
		text-transform: uppercase

	&__title
		display: flex
		justify-content: space-between

	&__avatar
		width: 170px
		height: 170px
		margin-bottom: 40px

		img
			width: 170px
			height: 170px

	&__info
		margin-bottom: 35px
	
	&__balance
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 70px
		height: 40px
		background: $text
		text-transform: uppercase
		padding: 10px 15px
		border-radius: 5px
		color: #fff
		max-width: 210px

		b
			color: $green
			font-size: 18px
	
	&__link
		display: block
		margin-bottom: 10px
		text-transform: uppercase
		color: $text
		font-size: 16px

		&:hover,
		&:focus
			color: $text
			text-decoration: underline
	
	&__table
		width: 100%

		td, th
			padding: 15px
			text-align: center

		tr
			&:nth-child(even)
				background-color: #ebebeb


.pagination
	display: flex
	justify-content: center
	margin-top: 70px
	
	span, a
		color: $text

	a
		&:hover,
		&:focus
			text-decoration: underline

		&:first-child
			margin: 0 20px
			font-weight: 800

		&:last-child
			margin: 0 20px
			font-weight: 800


.coin
	padding: 55px 0

	h2
		text-align: left
		margin-bottom: 30px

	p
		line-height: 1
		margin-bottom: 25px
		color: #868686
		text-transform: uppercase

	&__container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 30px

		&_item
			width: 47%
			background-color: #f7f7f7
			border-radius: 5px
			padding: 20px 30px

	&__block
		background-color: #f7f7f7
		border-radius: 5px
		padding: 20px 30px
		margin-bottom: 40px

	table
		.btn--coin-active
			margin-bottom: 0

	.checkout__table
		td,
		th
			padding: 10px

		tr
			border-bottom: 8px solid #fff

	&__slider
		margin-bottom: 40px
	
	&__price
		b
			font-size: 18px
			color: $text
			font-weight: 800
			margin-left: 30px


.select
	position: relative

	&::before
		content: ''
		position: absolute
		right: 10px
		top: 50%
		transform: translate(0, -50%) rotate(-135deg)
		width: 10px
		height: 10px
		border-top: 3px solid #000
		border-left: 3px solid #000


.article
	padding: 65px 0

	h2
		font-weight: 700
		margin-bottom: 20px
		text-align: left

	time
		display: block
		margin-bottom: 45px
		color: rgba(#000, .8)
		font-size: 24px
		font-weight: 700

	p
		font-size: 24px
		margin-bottom: 10px
		color: rgba(#000, .8)

		&:last-child
			margin-bottom: 0

	img
		max-width: 100%
		margin-bottom: 45px

	&__hr
		width: 100%
		height: 1px
		background-color: #b3b3b3


.crums
	display: flex
	flex-wrap: wrap
	text-transform: uppercase
	font-size: 24px
	margin-bottom: 40px

	a, span
		color: #484079


.news
	padding: 65px 0 85px

	h2
		text-align: left
		margin-bottom: 35px

	&__article
		padding: 50px 0
		border-bottom: 1px solid #b3b3b3

		&:first-child
			padding-top: 0

		&:last-child
			border-bottom: 1px solid #fff

		h2
			font-weight: 700
			margin-bottom: 15px
			text-transform: none

		time
			display: block
			font-size: 24px
			font-weight: 700
			color: rgba(#000, .8)
			margin-bottom: 15px

		p
			font-size: 24px
			color: #000
			margin-bottom: 10px

	&__more
		display: inline-block
		color: #403b61
		font-size: 24px
		margin-bottom: 20px

		&::before,
		&::after
			border-color: #000

		&:hover,
		&:focus
			text-decoration: underline
			color: #403b61

	&__tags
		display: flex
		flex-wrap: wrap
		font-size: 18px
		font-weight: 300
		
		li
			margin-right: 30px

			&:last-child
				margin-right: 0

		a
			display: inline-block
			background-color: #e4e4e4
			padding: 15px 35px
			color: #000
			transition: all .6s

			&:hover,
			&:focus
				background-color: #b3b3b3
	
	&__pagination
		display: flex
		justify-content: center

		a,
		span
			display: block
			border: 1px solid #b3b3b3
			padding: 10px 20px
			font-size: 22px
			line-height: 1
			margin-right: 1px
			color: #000
			min-width: 50px
			transition: all .6s

		a
			&:hover,
			&:focus
				background-color: #b3b3b3

		.active
			background-color: $block
			color: #fff

		i
			position: relative
			top: -3px

			&::before,
			&::after
				content: ''
				position: absolute
				top: 50%
				width: 6px
				height: 6px
				border-right: 2px solid #000
				border-top: 2px solid #000


		&_btn
			&--prev
				padding-left: 35px !important
				i
					&::before,
					&::after
						transform: translate(0, -10%) rotate(-135deg)

					&::after
						left: -10px

					&::before
						left: -15px

			&--next
				padding-right: 35px !important

				i
					&::before,
					&::after
						transform: translate(0, -10%) rotate(45deg)
						
					&::after
						right: -10px

					&::before
						right: -15px


.comfort
	padding: 65px 0

	h2
		text-align: left

	h3
		font-size: 36px
		color: #fe015d
		margin-bottom: 25px
		font-weight: 500

	ol
		color: #fe015d
		padding-left: 18px
		font-size: 18px
		font-weight: 500

	a
		color: #86bcd4

		&:hover,
		&:focus
			text-decoration: underline
			color: #86bcd4

	&__hr
		background-color: #333333
		width: 100%
		height: 1px
		margin-bottom: 25px

	&__tutorial
		display: inline-block
		position: relative
		font-size: 18px
		margin-bottom: 50px

		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			width: 6px
			height: 6px
			transform: translate(0, -10%) rotate(45deg)
			border-right: 2px solid #86bcd4
			border-top: 2px solid #86bcd4

		&::after
			right: -10px

		&::before
			right: -16px

	&__sub-title
		background-color: #f4f4f4
		padding: 25px 50px
		border-left: 2px solid #000
		font-size: 18px
		font-weight: 500
		color: #000
		margin-bottom: 20px

	&__form
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		input, textarea
			width: 100%
			border: 1px solid #d1d1d1
			border-radius: 0
			color: #000
			font-size: 16px

			&::placeholder
				color: #000
				font-size: 16px

		input
			height: 70px
			line-height: 70px
			padding-left: 15px
			padding-right: 15px

		textarea
			resize: none
			height: 100%
			margin-top: 30px
			line-height: 1.2
			padding-top: 15px
			padding-bottom: 15px

			&::placeholder
				color: #000
				line-height: 1.2

		label
			font-size: 18px
			color: #000

		&_remember

			label
				position: relative
				padding-left: 30px
				cursor: pointer
				margin-bottom: 0
				margin-right: 0
				font-size: 16px

				span
					color: red

				&::before,
				&::after
					content: ''
					position: absolute
					left: 0

				&::before
					width: 15px
					height: 15px
					border: 1px solid $accent

				&::after
					width: 7px
					height: 13px
					border-top: 3px solid $accent
					border-left: 3px solid $accent
					left: 5px
					top: 0
					transition: all .6s
					transform: rotate(-45deg)

			input[type="checkbox"]
				display: none

			input[type="checkbox"]:checked + label::after
				transform: scale(1) rotate(-135deg)

			input[type="checkbox"] + label::after
				transform: scale(0) rotate(-135deg)

		&_col
			width: 48%

		&_input
			margin-bottom: 10px

		&_textarea
			height: 90%

		.btn
			text-transform: none
			font-size: 18px
			font-weight: 400


.buy-coins

	select
		font-size: 18px

	p
		font-size: 22px
		color: #000
		margin-bottom: 50px
		text-align: center

	span
		display: inline-block
		font-size: 18px
		color: #000

		span
			display: inline-block
			margin-left: 10px
			border-bottom: 8px solid transparent
			border-left: 16px solid $block
			border-right: 16px solid transparent
			border-top: 8px solid transparent

	input
		background-color: #fff
		color: #000
		max-width: 200px
		font-size: 18px

		&::placeholder
			color: #000
			font-size: 18px

	&__price
		font-weight: 700

		&::placeholder
			font-weight: 700

	&__now
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		background-color: #f7f7f7
		padding: 30px
		margin-bottom: 30px

	.btn
		font-size: 18px

	&__table

		.btn
			padding: 0 5px
			width: 110px

		tr
			background-color: #f7f7f7

			&:first-child
				background-color: #5e5594

		th
			font-size: 24px
			line-height: 1
			color: #fff
			text-transform: uppercase
			padding: 30px !important

		td
			padding: 20px !important
			white-space: nowrap
			font-weight: 400

		td
			font-size: 18px
			color: #000

			span
				color: #5e5594
				font-size: 24px

			b
				font-weight: 400
				color: #ff0034
				font-size: 24px
		

		.select
			padding: 0 35px 0 0

		select
			background-color: transparent
			font-size: 18px
			text-transform: none
			border: none
			padding: 0
			
	&__list
		display: flex

		li
			margin-right: 20px
			&:last-child
				margin-right: 0

		a
			display: block
			background-color: #f7f7f7
			color: #000
			font-size: 18px
			border: 2px solid transparent
			line-height: 1
			padding: 15px 25px
			transition: all .6s

			&:hover,
			&:focus
				background-color: #d8d8d8

		.active
			border: 2px solid #5e5594


.auction

	h3
		color: #000
		font-size: 30px
		margin-bottom: 55px
		font-weight: 700

	h4
		font-size: 24px
		color: #000
		margin-bottom: 15px

	p
		color: #000
		text-transform: none
		font-weight: 700

	&__place
		text-align: center

		p
			font-size: 18px
			margin-bottom: 40px
			
		b
			color: #000

	&__line
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		margin-bottom: 80px

		&--start
			justify-content: flex-start
			flex-wrap: wrap

			img
				width: 22%
				margin-right: 3%
				margin-bottom: 2%

		&--search
			input
				border: 1px solid #000
				width: 89%
				font-size: 18px
				border-radius: 0

				&::placeholder
					color: #000
					font-size: 18px

			.btn
				width: 11%
				padding: 0
				border-bottom-left-radius: 0
				border-top-left-radius: 0

		&--price
			p
				&:last-child
					margin-bottom: 0

		.big
			display: flex
			align-items: flex-end
			font-size: 24px
			color: #000
			font-weight: 700
			text-transform: none

			img
				margin-right: 15px

		.btn
			text-transform: none
			font-size: 18px
			font-weight: 400

		&_text
			color: #000
			font-size: 18px
			text-transform: none

	&__col
		width: 31%

	&__cart
		display: block
		margin: 0 auto

	&__list
		display: flex

		li
			margin-right: 5px

			&:last-child
				margin-right: 0

		img
			width: 35px

		a
			position: relative
			display: block
			padding: 5px 5px 20px 5px

			&::before,
			&::after
				content: ''
				position: absolute
				left: 50%
				bottom: 7px
				background-color: #000
				width: 2px
				height: 7px

			&::before
				transform: rotate(45deg)

			&::after
				transform: rotate(-45deg)

		.active
			background-color: #245b45

			&::after
				opacity: 0

			&::before
				width: 3px
				height: 7px
				background-color: transparent
				border-bottom: 2px solid #fff
				border-right: 2px solid #fff
				transform: rotate(45deg)

	&__item
		font-size: 24px
		font-weight: 600

		&--start
			span
				margin-top: -5px
				transform: rotate(45deg)
		&--now
			span
				transform: rotate(-135deg)

		p
			text-align: center
			display: flex
			align-items: center
			justify-content: center

		span
			display: block
			width: 10px
			height: 10px
			border-bottom: 2px solid #000
			border-right: 2px solid #000
			margin: 0 10px

		img
			margin-right: 5px

	
	&__search
		width: 89%
		height: 156px
		overflow: auto
		border-left: 1px solid #000
		border-right: 1px solid #000

		&_item
			width: 100%
			border-bottom: 1px solid #000

		img
			width: 57px
			height: 57px

		label
			position: relative
			padding-left: 50px
			color: $accent
			cursor: pointer
			margin-bottom: 0
			margin-right: 0
			padding: 10px 30px
			background-color: #e4e4e4
			width: 100%
			transition: all .6s

		input[type="radio"]
			display: none

		input[type="radio"]:checked + label
			background-color: #fe015d
			color: #fff


@import "page"
@import "media" // Always at the end